<section class="section bg-light" id="about">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-features-s2">
            <div class="row align-items-center flex-row-reverse gutter-vr-30px">
                <div class="col-lg-5">
                    <div class="gfx py-4 mx-auto mx-lg-0 animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="images/salvia/gfx-i.png" alt="gfx">
                    </div>
                </div><!-- .col -->
                <div class="col-lg-7">
                    <!-- Section Head @s -->
                    <div class="nk-block-text pdb-r">
                        <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay=".1">About
                            TeamFence</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Emerging from a necessity for
                            enhanced security measures addressing human vulnerabilities, TeamFence originated as a
                            direct response to the need for protection against persistent phishing and social
                            engineering threats.</p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Despite significant investment in
                            security, prevailing solutions have primarily targeted IT aspects rather than human
                            vulnerabilities. Acknowledging the necessity for a fresh, collaborative strategy, we
                            embarked on a mission to develop TeamFence—a symbol of enhanced cybersecurity bridging the
                            digital and human realms.</p>
                    </div><!-- .section-head @e -->
                    <div class="row gutter-vr-20px flex-wrap">
                        <div class="col-sm-6">
                            <div class="feature feature-s1 animated" data-animate="fadeInUp" data-delay=".4">
                                <div class="feature-icon feature-icon-s5 feature-icon-s5-1">
                                    <em class="icon fas fa-check"></em>
                                </div>
                                <div class="feature-text feature-text-s1">
                                    <p>Tailored response to combat persistent phishing and social engineering threats</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-sm-6">
                            <div class="feature feature-s1 animated" data-animate="fadeInUp" data-delay=".4">
                                <div class="feature-icon feature-icon-s5 feature-icon-s5-2">
                                    <em class="icon fas fa-check"></em>
                                </div>
                                <div class="feature-text feature-text-s1">
                                    <p>Pioneering a fresh, collaborative strategy for enhanced cybersecurity</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-sm-6">
                            <div class="feature feature-s1 animated" data-animate="fadeInUp" data-delay=".5">
                                <div class="feature-icon feature-icon-s5 feature-icon-s5-3">
                                    <em class="icon fas fa-check"></em>
                                </div>
                                <div class="feature-text feature-text-s1">
                                    <p>Bridging the gap between digital and human protection</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-sm-6">
                            <div class="feature feature-s1 animated" data-animate="fadeInUp" data-delay=".6">
                                <div class="feature-icon feature-icon-s5 feature-icon-s5-4">
                                    <em class="icon fas fa-check"></em>
                                </div>
                                <div class="feature-text feature-text-s1">
                                    <p>OneClick deployment into existing systems</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
