<section class="section bg-theme-alt tc-light">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-features-s2">
            <div class="row align-items-center flex-row-reverse gutter-vr-30px">
                <div class="col-lg-5">
                    <div class="gfx py-4 mx-auto mx-lg-0 animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="/images/salvia/gfx-i.png" alt="gfx">
                    </div>
                </div><!-- .col -->
                <div class="col-lg-7">
                    <!-- Section Head @s -->
                    <div class="nk-block-text pdb-r">
                        <h6 class="title title-xs title-s1 tc-primary">Our Purpose</h6>
                        <h2 class="title title-semibold">TeamFence</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Emerging from a necessity for
                            enhanced security measures addressing human vulnerabilities, TeamFence originated as a
                            direct response to the need for protection against persistent phishing and social
                            engineering threats.</p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Despite significant investment in
                            security, prevailing solutions have primarily targeted IT aspects rather than human
                            vulnerabilities. Acknowledging the necessity for a fresh, collaborative strategy, we
                            embarked on a mission to develop TeamFence—a symbol of enhanced cybersecurity bridging the
                            digital and human realms.</p>
                    </div><!-- .section-head @e -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
