<section class="section bg-theme-alt tc-light" id="about">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-features-s2">
            <div class="row align-items-center flex-row-reverse gutter-vr-30px">
                <div class="col-lg-5">
                    <div class="gfx py-4 mx-auto mx-lg-0 animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="/images/fencing-team.png" alt="gfx">
                    </div>
                </div><!-- .col -->
                <div class="col-lg-7">
                    <!-- Section Head @s -->
                    <div class="nk-block-text pdb-r">
                        <h6 class="title title-xs title-s1 tc-primary">Our Purpose</h6>
                        <h2 class="title title-semibold">TeamFence</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">At TeamFence, we see ourselves as
                            expert fencers, ready to duel against the relentless onslaught of malware and cyber threats.
                            Our approach isn't just about building static defenses; it's about engaging in a dynamic,
                            strategic bout, where we anticipate and parry every move of the adversary. Our goal is to
                            sharpen our skills and techniques through continuous security research, ensuring that we
                            remain agile and effective in protecting our clients' digital fortresses against the most
                            sophisticated cyberattacks.</p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">By continually pushing the limits of
                            security research, we bolster the defenses of our clients' organizations, protecting their
                            valuable data and assets from malicious threats. With our expertise and unwavering
                            commitment, we stand as the guardians of our clients' digital domains, ensuring that their
                            cyber strategies remain agile and impenetrable in the face of evolving threats.</p>
                    </div><!-- .section-head @e -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
