<section class="section bg-theme-dark-alt tc-light">
    <div class="container">
        <div class="section-head section-head-s9 wide-md">
            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">
                BrowserFence</h6>
            <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".2">Introducing
                BrowserFence</h2>
            <div class="wide-sm">
                <p class="animated" data-animate="fadeInUp" data-delay=".3">Empower your team with BrowserFence, your
                    comprehensive solution for enhancing browsing security, providing peace of mind and protection
                    against online threats.</p>
            </div>
        </div>
        <!-- Block @s -->
        <div class="nk-block nk-block-text-wrap">
            <div class="row align-items-center gutter-vr-30px">
                <div class="col-lg-6">
                    <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".4">
                        <img src="/images/laptop-a.png" alt="app">
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6">
                    <div class="nk-block-text">
                        <ul class="list list-check list-check-s3">
                            <li class="animated" data-animate="fadeInUp" data-delay=".5"><b>Seamless integration</b>:
                                Effortlessly incorporate our security extension into your existing systems for enhanced
                                protection.
                            </li>
                            <li class="animated" data-animate="fadeInUp" data-delay=".6"><b>Comprehensive coverage</b>:
                                From malware to phishing attacks, our extension provides robust defense against a wide
                                range of threats.
                            </li>
                            <li class="animated" data-animate="fadeInUp" data-delay=".7"><b>Minimal resource
                                consumption</b>: Protect your systems without compromising on performance or speed.
                            </li>
                            <li class="animated" data-animate="fadeInUp" data-delay=".8"><b>Regular updates</b>: Stay
                                ahead of the curve with automatic updates and patches, ensuring your security measures
                                are always up-to-date.
                            </li>
                        </ul>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
        <ul class="pt-4 d-flex gaps g-3 justify-content-center  animated" data-animate="fadeInUp" data-delay=".9">
            <li>
                <a href="#browserFence" class="content-popup btn btn-md btn-grad" data-overlay="bg-theme-grad-alternet"
                   style="position: relative; top: 50px;">Know More</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-3 col-sm-6">
        <!-- Start .team-profile  -->
        <div id="browserFence" class="team-popup mfp-hide">
            <a title="Close" class="mfp-close">×</a>
            <div class="row align-items-start">
                <div class="col-md-6">
                    <div class="team-photo">
                        <img src="/images/top-ten.svg" alt="vectors" style="">
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6">
                    <div class="team-popup-info ps-md-3">
                        <h3 class="team-name title title-lg pt-4">BrowserFence</h3>
                        <p>Through years of experience, we've come to recognize the browser as a frequent weak link in
                            an individual's security. It's consistently implicated in various stages of the 'kill
                            chain,' the progression of a cyber attack. This is due to its role as a primary gateway for
                            attackers, facilitating the delivery of malicious software and the theft of sensitive data
                            or credentials. In essence, the browser stands as the primary and most accessible
                            vulnerability for potential aggressors.</p>
                        <p>Monitoring this vector effectively enables us to thwart the vast majority of user
                            compromises. Actively surveilling browser activities allows for prompt detection and
                            neutralization of threats, significantly reducing the risk of cybersecurity breaches.</p>
                        <p>We are still in the early stages of development. <br>Sign up for the newsletter and stay updated.</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .team-profile  -->
    </div>
</section>