<section class="section bg-theme-dark-alt tc-light" id="faqs">
    <div class="container">
        <div class="section-head section-head-s9 wide-md">
            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">FAQ</h6>
            <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".2">Frequently asked questions</h2>
            <div class="wide-sm">
                <p class="animated" data-animate="fadeInUp" data-delay=".3">Below we’ve provided a bit of TeamFence. If you have any other questions, please get in touch using the contact form below.</p>
            </div>
        </div>
        <!-- Block @s -->
        <div class="nk-block">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <ul class="nav tab-nav tab-nav-btn pdb-r justify-content-start animated" data-animate="fadeInUp" data-delay=".4">
                        <li><a class="active" data-bs-toggle="tab" href="#general-questions-13">General</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-lg-8">
                    <div class="tab-content animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="tab-pane fade show active" id="general-questions-13">
                            <div class="accordion accordion-faq" id="faq-47">
                                <div class="accordion-item accordion-item-s2 bg-theme-alt">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-47-1"> What is penetration testing, and why is it important for my business? <span class="accordion-icon accordion-icon-s2"></span>
                                    </h5>
                                    <div id="faq-47-1" class="collapse show" data-bs-parent="#faq-47">
                                        <div class="accordion-content">
                                            <p>Penetration testing, often referred to as pen testing, is a simulated cyber attack on your computer system, network, or web application to identify security weaknesses. It's crucial for your business because it helps uncover vulnerabilities before malicious attackers exploit them, thereby protecting your sensitive data, reputation, and financial assets.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s2 bg-theme-alt">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-47-2"> How does a penetration test work, and what does it involve? <span class="accordion-icon accordion-icon-s2"></span>
                                    </h5>
                                    <div id="faq-47-2" class="collapse" data-bs-parent="#faq-47">
                                        <div class="accordion-content">
                                            <p>A penetration test typically involves several stages, including reconnaissance, scanning, exploitation, post-exploitation, and reporting. Our skilled security experts simulate real-world attack scenarios to identify vulnerabilities in your systems, networks, or applications. We then provide detailed reports and recommendations to help you strengthen your security posture.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s2 bg-theme-alt">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-47-3"> How often should I schedule penetration tests for my business? <span class="accordion-icon accordion-icon-s2"></span>
                                    </h5>
                                    <div id="faq-47-3" class="collapse" data-bs-parent="#faq-47">
                                        <div class="accordion-content">
                                            <p>The frequency of penetration testing depends on factors such as the complexity of your IT infrastructure, the sensitivity of your data, regulatory requirements, and changes to your systems or applications. Generally, we recommend scheduling tests at least annually or whenever significant changes occur in your environment.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s2 bg-theme-alt">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-47-4"> What is employee awareness training, and why is it crucial for my organization? <span class="accordion-icon accordion-icon-s2"></span>
                                    </h5>
                                    <div id="faq-47-4" class="collapse" data-bs-parent="#faq-47">
                                        <div class="accordion-content">
                                            <p>Employee awareness training is an educational program designed to inform and educate employees about cybersecurity best practices, policies, and procedures. It is crucial for your organization because human error and negligence are significant contributors to cybersecurity breaches. By educating your employees about potential threats, phishing attacks, password hygiene, and safe browsing practices, you empower them to recognize and mitigate security risks, ultimately strengthening your organization's overall security posture.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-4">
                    <div class="nk-block-img mt-4 mt-lg-0 animated" data-animate="fadeInUp" data-delay=".6">
                        <img src="/images/gfx-p.png" alt="lungwort">
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
<!-- // -->