<section class="section bg-light-alt" id="faq">
    <div class="container">
        <div class="row justify-content-between gutter-vr-30px">
            <div class="col-lg-4">
                <div class="section-head section-head-s7 wide-auto-sm text-lg-start text-center">
                    <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".2">Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others common question answers. If you have any other questions, please get in touch via email.</p>
                </div>
            </div><!-- .col -->
            <div class="col-lg-7">
                <div class="accordion animated" data-animate="fadeInUp" data-delay=".3" id="faq-36">
                    <div class="accordion-item accordion-item-s3">
                        <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-36-1">What is ICO Crypto? <span class="accordion-icon accordion-icon-s1"></span></h5>
                        <div id="faq-36-1" class="collapse show" data-bs-parent="#faq-36">
                            <div class="accordion-content">
                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-s3">
                        <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-36-2">What cryptocurrencies can I use to purchase? <span class="accordion-icon accordion-icon-s1"></span></h5>
                        <div id="faq-36-2" class="collapse" data-bs-parent="#faq-36">
                            <div class="accordion-content">
                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-s3">
                        <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-36-3">How can I participate in the ICO Token sale? <span class="accordion-icon accordion-icon-s1"></span></h5>
                        <div id="faq-36-3" class="collapse" data-bs-parent="#faq-36">
                            <div class="accordion-content">
                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-s3">
                        <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-36-4">How do I benefit from the ICO Token? <span class="accordion-icon accordion-icon-s1"></span></h5>
                        <div id="faq-36-4" class="collapse" data-bs-parent="#faq-36">
                            <div class="accordion-content">
                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>
