<section class="section bg-theme tc-light" id="services">
    <div class="container">
        <div class="section-head section-head-s9 wide-sm">
            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Blog</h6>
            <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".2">See our latest posts</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".3"></p>
        </div>
        <div class="nk-block">
            <div class="row g-gs">
                {{ range first 3 .Paginator.Pages }}
                <div class="col-xl-4 col-md-6 order-xl-2">
                    <a href="{{ .Permalink }}">
                        <div class="news-item animated" data-animate="fadeInUp" data-delay=".6">
                            <div class="news-thumb">
                                <div class="img-wrapper-home">
                                    <img class="w-100" src="{{ .Params.Image }}" alt="image">
                                </div>
                            </div>
                            <div class="news-excerpt" style="background-color: #3d2ac4">
                                <h5>{{ .Title}}</h5>
                                <ul class="news-meta">
                                    <li>{{ .PublishDate.Format "January 2, 2006" }}</li>
                                </ul>
                                {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }} read
                            </div>
                        </div>
                    </a>
                </div>
                {{ end }}
            </div>
            <ul class="pt-4 d-flex gaps g-3 justify-content-center  animated" data-animate="fadeInUp" data-delay=".9">
                <li>
                    <a href="/posts/" class="btn btn-md btn-grad">Read All Articles</a>
                </li>
            </ul>
        </div>
    </div>
</section>