<section class="section section-s bg-light">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block block-partners">
            <div class="section-head section-head-sm">
                <h6 class="title-md title-thin text-center animated" data-animate="fadeInUp" data-delay=".1">Our Partners</h6>
            </div>
            <ul class="partner-list flex-lg-nowrap mgb-m30">
                <li class="partner-logo-s3 animated" data-animate="fadeInUp" data-delay=".15"><img src="/images/partners/a-xs.png" alt="partner"></li>
                <li class="partner-logo-s3 animated" data-animate="fadeInUp" data-delay=".2"><img src="/images/partners/b-xs.png" alt="partner"></li>
                <li class="partner-logo-s3 animated" data-animate="fadeInUp" data-delay=".25"><img src="/images/partners/c-xs.png" alt="partner"></li>
                <li class="partner-logo-s3 animated" data-animate="fadeInUp" data-delay=".3"><img src="/images/partners/d-xs.png" alt="partner"></li>
                <li class="partner-logo-s3 animated" data-animate="fadeInUp" data-delay=".35"><img src="/images/partners/e-xs.png" alt="partner"></li>
                <li class="partner-logo-s3 animated" data-animate="fadeInUp" data-delay=".4"><img src="/images/partners/f-xs.png" alt="partner"></li>
            </ul>
        </div>
        <!-- Block @e -->
    </div>
</section>
