<section class="section bg-theme-dark-alt tc-light" id="services">
    <div class="background-shape bs-reverse"></div>
    <div class="container">
        <div class="section-head section-head-s9 wide-sm">
            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Our services</h6>
            <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".2">Trust us, we will raise your fences.</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".3"></p>
        </div>
        <!-- Block @s -->
        <div class="nk-block">
            <div class="row gutter-vr-30px justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="feature-icon feature-icon-lg my-0">
                            <img src="images/icon-g-dark.png" alt="feature">
                        </div>
                        <div class="feature-text feature-text-s8">
                            <h4 class="title title-sm title-thin title-s5"><span>Application Security</span></h4>
                            <p>Our web app penetration tests uncover vulnerabilities and fortify your web applications.</p>
                            <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-4 col-md-4">
                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="feature-icon feature-icon-lg my-0">
                            <img src="images/icon-e-dark.png" alt="feature">
                        </div>
                        <div class="feature-text feature-text-s8">
                            <h4 class="title title-sm title-thin title-s5"><span>Network Security</span></h4>
                            <p>Our network security service delivers robust assessments to fortify your infrastructure.</p>
                            <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-4 col-md-4">
                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="feature-icon feature-icon-lg my-0">
                            <img src="images/icon-d-dark.png" alt="feature">
                        </div>
                        <div class="feature-text feature-text-s8">
                            <h4 class="title title-sm title-thin title-s5"><span>Security Awareness</span></h4>
                            <p>Our security awareness service enhances your team's knowledge to detect and prevent cyber threats.</p>
                            <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>