<!DOCTYPE html>
<html lang="zxx" class="js">

{{- partial "head.html" . -}}

<body class="nk-body body-wider theme-dark mode-onepage">
    <div class="nk-wrap">
        <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
            {{- partial "navbar.html" . -}}
            <!-- Banner -->
            <div class="header-banner bg-purple shape-o shape-contain shape-center-top text-white">
                <div class="nk-banner">
                    <div class="banner banner-page">
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-9">
                                        <div class="banner-caption cpn tc-dark text-center">
                                            <div class="cpn-head">
                                                <h1 class="title title-xl-2 title-semibold animated" data-animate="fadeInUp" data-delay="1.35">{{ .Title }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-ovm bg-blend before-bottom before-h70 shape-o shape-contain shape-center-top"></div>
            </div>
            <!-- .header-banner -->
        </header>

        <main class="nk-pages bg-light">
            <section class="section">
                <div class="container">
                    <div class="nk-block">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="content" id="detailed-content">
                                    {{ .Content}}
                                </div>
                            </div>
                        </div>
                        <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row gutter-vr-30px justify-content-center">
                            <div class="col-lg-4 col-md-4">
                                <a href="/team/Riccardo">
                                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="feature-icon feature-icon-lg my-0">
                                            <img src="/images/team/Riccardo.png" alt="feature">
                                        </div>
                                        <div class="feature-text feature-text-s8">
                                            <h4 class="title title-sm title-thin title-s5"><span>Riccardo Brigatti</span></h4>
                                            <p class="text-white">CTO: Innovative Technological Solutions and IT department management </p>
                                            <a href="/team/Riccardo" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <a href="/team/Matteo">
                                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="feature-icon feature-icon-lg my-0">
                                            <img src="/images/team/Matteo.png" alt="feature">
                                        </div>
                                        <div class="feature-text feature-text-s8">
                                            <h4 class="title title-sm title-thin title-s5"><span>Matteo Denicolò</span></h4>
                                            <p class="text-white">CEO: Strategic Planning, Business Development, Shareholders and Board relations
                                            </p>
                                            <a href="/team/Matteo" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <a href="/team/Alessio">
                                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="feature-icon feature-icon-lg my-0">
                                            <img src="/images/team/Alessio.png" alt="feature">
                                        </div>
                                        <div class="feature-text feature-text-s8">
                                            <h4 class="title title-sm title-thin title-s5"><span>Alessio Branca</span></h4>
                                            <p class="text-white">COO/CFO: Financial Management, Administration and Business Development
                                            </p>
                                            <a href="/team/Alessio" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <a href="/team/Marco">
                                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="feature-icon feature-icon-lg my-0">
                                            <img src="/images/usr.webp" alt="feature">
                                        </div>
                                        <div class="feature-text feature-text-s8">
                                            <h4 class="title title-sm title-thin title-s5"><span>Marco Pagani</span></h4>
                                            <p class="text-white">Junior Analyst: Analyzing competitors on both market and technical solutions</p>
                                            <a href="/team/Marco" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <a href="/team/Diego">
                                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="feature-icon feature-icon-lg my-0">
                                            <img src="/images/usr.webp" alt="feature">
                                        </div>
                                        <div class="feature-text feature-text-s8">
                                            <h4 class="title title-sm title-thin title-s5"><span>Diego Omini</span></h4>
                                            <p class="text-white">Back-end Software Developer: Building the back-end of our engine.
                                            </p>
                                            <a href="/team/Diego" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                        </div>
                                    </div>
                                </a>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    </div><!-- .nk-block -->
                </div><!-- .container -->
            </section>
        </main>

        <!-- Footer -->
        {{- partial "javascript.html" . -}}
        {{- partial "footer.html" . -}}
    </div>
</body>

</html>



