<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
    {{- partial "navbar.html" . -}}
    <!-- Banner @s -->
    <div class="header-banner bg-purple">
        <div class="nk-banner">
            <div class="banner banner-page">
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <!-- .header-banner @e -->
</header>
<body class="nk-body body-wider theme-dark mode-onepage">
<div class="nk-wrap">
    <main class="nk-pages">

        <section class="section bg-purple section-about">
            <div class="container">
                <!-- Block @s -->
                <div class="nk-block">
                    <div class="row gutter-vr-30px align-items-center">
                        <div class="col-lg-6">
                            <div class="nk-block-text">
                                <h2 class="title text-white">Awareness</h2>
                                <p class ="text-white">At TeamFence, our approach to delivering security awareness is rooted in the belief of knowledge sharing and personnel improvement. We understand the importance of equipping individuals with the necessary skills and awareness to contribute effectively to the security of the organization. Our tailored security awareness programs focus on educating employees about cybersecurity best practices, recognizing potential threats, and understanding their role in protecting sensitive information and digital assets.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="nk-block-video">
                                <img src="/images/awareness.png" alt="icon" style="width: 85%">
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                <div class="hr"></div>
                <!-- Block @s -->
                <div class="nk-block nk-block-about">
                    <div class="row gutter-vr-30px align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <div class="nk-block-text">
                                <h2 class="text-white title title-lg">OnPrem Awareness (OPA)</h2>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="nk-block-text">
                                <p class="text-white">Our on-premises cybersecurity course offers valuable insights and practical advice to help participants spot and react to cyber threats efficiently. Trust us to enhance your cybersecurity awareness and protect your organization's assets effectively.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                <!-- Block @s -->
                <div class="nk-block nk-block-about">
                    <div class="row gutter-vr-30px align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <div class="nk-block-text">
                                <h2 class="text-white title title-lg">Wi-Fence</h2>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="nk-block-text">
                                <p class = "text-white">We offer a service that involves setting up a fake Wi-Fi network to resemble a legitimate one in your workplace. This test helps us monitor if any employees connect to this fake network, revealing vulnerabilities in user awareness and network security.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
            </div>
        </section>
        <!-- // -->
    </main>
    <!-- Preloader -->
    <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand"
                                                                                         src="/images/logo-white.png"
                                                                                         alt=""></span></div>
    <!-- JavaScript -->
    {{- partial "javascript.html" . -}}
    {{- partial "footer.html" . -}}
</div>
</body>
</html>
