<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
    {{- partial "navbar.html" . -}}
        <!-- Banner Section -->
        <div class="header-banner bg-blend shape-o shape-contain shape-center-top">
            <div class="nk-banner">
                <div class="banner banner-page">
                    <div class="banner-wrap">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-9">
                                    <div class="banner-caption cpn tc-light text-center">
                                        <div class="cpn-head">
                                            <h1 class="title title-xl-2 title-semibold animated" data-animate="fadeInUp" data-delay="1.35">{{ .Title }}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-ovm bg-blend before-bottom before-h70 shape-o shape-contain shape-center-top"></div>
        </div>
        <!-- .header-banner -->
        
</header>
<body class="nk-body body-wider theme-dark mode-onepage">
<div class="nk-wrap">
    <main class="nk-pages">

        <section class="section bg-light section-about">
            <div class="container">
                <!-- Block @s -->
                <div class="nk-block">
                    <div class="row gutter-vr-30px align-items-center">
                        <div class="col-lg-6">
                            <div class="nk-block-text">
                                <h2 class="title">{{ .Title }}</h2>
                                <p>{{ .Content }}</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="nk-block-video">
                                <img src="{{ .Params.image }}" alt="icon" style="width: 85%">
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                <div class="hr"></div>
                <!-- Loop through services -->
                {{ range .Params.services }}
                <div class="nk-block nk-block-about bg-light">
                    <div class="row gutter-vr-30px align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <div class="nk-block-text">
                                <h2 class="title title-lg">{{ .title }}</h2>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="nk-block-text">
                                <p>{{ .description }}</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                {{ end }}
            </div>
        </section>
        <!-- // -->
    </main>

    <!-- Preloader -->
    <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="/images/logo-white.png" alt="Logo"></span></div>

    <!-- JavaScript -->
    {{- partial "javascript.html" . -}}
    {{- partial "footer.html" . -}}
</div>
</body>
</html>
