<!DOCTYPE html>
<html lang="zxx" class="js">

{{- partial "head.html" . -}}

<header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
    {{- partial "navbar.html" . -}}
    <!-- Banner @s -->
    <div class="header-banner bg-purple">
        <div class="nk-banner">
            <div class="banner banner-page">
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <!-- .header-banner @e -->
</header>

<body class="nk-body body-wider theme-dark mode-onepage">
    <div class="nk-wrap">
        <main class="nk-pages">

            <section class="section bg-purple section-about">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row gutter-vr-30px align-items-center">
                            <div class="col-lg-6">
                                <div class="nk-block-text">
                                    <h2 class="text-white">CTEM Security</h2>
                                    <p class ="text-white">Continuous Threat Exposure Management (CTEM) is a proactive, five-stage framework designed to minimize exposure to cyber attacks. It helps organizations identify and assess vulnerabilities, map potential attack paths, prioritize risks, and track remediation efforts.</p>
                                    <p class ="text-white">We start by understanding your current security measures and identifying potential vulnerabilities. This approach combines offensive and defensive strategies (Purple teaming), enabling us to identify and mitigate threats more effectively. By integrating our expertise with your team’s insights, we create a comprehensive defense strategy that is both proactive and adaptive.</p>
                                    <div class="pt-4">
                                        <a href="/ctem-details/" class="btn btn-md btn-grad" data-overlay="bg-theme-grad-alternet">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="nk-block-video">
                                    <img src="/images/network.png" alt="icon">
                                </div>
                            </div>
                        </div>
                    </div><!-- .nk-block @e -->
                    <div class="hr"></div>
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="row gutter-vr-30px align-items-center justify-content-between">
                            <div class="col-md-4 col-lg-3">
                                <div class="nk-block-text">
                                    <h2 class=" text-white title-lg">Cyber Diagnosis</h2>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8">
                                <div class="nk-block-text">
                                    <p class ="text-white" >Our Cyber Diagnosis service is designed to provide a comprehensive understanding of your current cybersecurity infrastructure. By thoroughly analyzing your existing technologies, evaluating the scope of your operations, and assessing the risks you face, we deliver actionable insights to enhance your security posture.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- .nk-block @e -->
                    <div class="nk-block nk-block-about">
                        <div class="row gutter-vr-30px align-items-center justify-content-between">
                            <div class="col-md-4 col-lg-3">
                                <div class="nk-block-text">
                                    <h2 class="text-white title-lg">Proactive Risk Advancement</h2>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8">
                                <div class="nk-block-text">
                                    <p class ="text-white">The final stages involve analyzing and prioritizing exposures based on threat levels and asset importance, validating potential attack methods and security controls, and ensuring all teams understand their roles and track progress to improve overall security posture.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- .nk-block @e -->
                </div>
            </section>
            <!-- // -->
        </main>
        <!-- Preloader -->
        <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="/images/logo-white.png" alt=""></span></div>


        <!-- JavaScript -->
        {{- partial "javascript.html" . -}}
        {{- partial "footer.html" . -}}
    </div>
</body>

</html>
