<!DOCTYPE html>
<html lang="{{ .Lang }}" class="js">

{{- partial "head.html" . -}}

<body class="nk-body body-wider theme-dark mode-onepage">
    <div class="nk-wrap">
        <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
            {{- partial "navbar.html" . -}}
            <!-- Banner -->
            <div class="header-banner bg-purple shape-o shape-contain shape-center-top text-white">
                <div class="nk-banner">
                    <div class="banner banner-page">
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-9">
                                        <div class="banner-caption cpn tc-dark text-center">
                                            <div class="cpn-head">
                                                <h1 class="title title-xl-2 title-semibold animated" data-animate="fadeInUp" data-delay="1.35">{{ .Title }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-ovm bg-blend before-bottom before-h70 shape-o shape-contain shape-center-top"></div>
            </div>
            <!-- .header-banner -->
        </header>

        <main class="nk-pages bg-light">
            <section class="section">
                <div class="container">
                    <div class="nk-block">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="content" id="detailed-content">
                                    {{ .Content }}
                                </div>
                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div><!-- .container -->
            </section>
        </main>

        <!-- Footer -->
        {{- partial "javascript.html" . -}}
        {{- partial "footer2.html" . -}}
    </div>
</body>

</html>
