<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<body class="nk-body body-wider bg-theme-dark mode-onepage">
<div class="nk-wrap">
    <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
        <!-- Banner @s -->
        {{- partial "navbar.html" . -}}


        <!-- .header-banner @e -->
    </header>
    
    <main class="nk-pages">
        <section class="section bg-theme-dark tc-light" id="services">
            <div class="container">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="POSTS">POSTS</h2>
                </div><!-- .section-head @e -->
                <div class="nk-block nk-block-blog ">
                    <div class="row">
                        {{ range .Pages }}
                        <div class="col-lg-4 col-sm-6">
                            <div class="blog">
                                <div class="blog-photo">
                                    <div class="img-wrapper-home">
                                        <div class="box box1">
                                            <img src="{{ .Params.image }}" alt="blog-thumb">
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-text">
                                    <ul class="blog-meta">
                                        <li><a href="#">{{ .Params.date.Format "January 2, 2006" }}</a></li>
                                        {{ $taxo := "tags" }}
                                        {{ with .Param $taxo }}
                                        <ul class="tags__list">
                                            {{ range $index, $tag := . }}
                                            {{ with $.Site.GetPage (printf "/%s/%s" $taxo $tag) -}}
                                            <li class="tag__item">
                                                <a class="tag__link" href="{{ .Permalink }}">{{ $tag }}</a>
                                            </li>
                                            {{- end -}}
                                            {{- end -}}
                                        </ul>
                                        {{ end }}
                                    </ul>
                                    <h4 class="title title-sm"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                                </div>
                            </div><!-- .blog -->
                        </div><!-- .col -->
                        {{ end }}
                    </div><!-- .row -->
                    <!--
                    <nav class="w-100 d-flex">
                        <ul class="pagination">
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><em class="icon ti ti-angle-right"></em></a></li>
                        </ul>
                    </nav>
                    -->
                </div><!-- .nk-block -->
                <div id="particles-bg-8" class="particles-container particles-bg" data-pt-base="#a83232" data-pt-base-op=".7" data-pt-line="#b84545" data-pt-line-op=".7" data-pt-shape="#8b1f1f" data-pt-shape-op=".5"></div>

            </div><!-- .container -->

        </section><!-- .section -->
    </main><!-- .nk-pages -->
    <!-- Preloader -->
    <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand"
                                                                                         src="/images/logo-white.png"
                                                                                         alt=""></span></div>
    
                                                                                         <!-- JavaScript -->
    {{- partial "javascript.html" . -}}
    {{- partial "footer.html" . -}}

</div>

</body>
</html>
