blockquote {
    font-style: italic;
    padding: 20px;
    margin: 0 0 20px;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
}

pre{
    padding: 5px;
}

.img-wrapper-home {
    height: 200px;
    display: flex;
    gap: 20px;
}

.img-wrapper-single {
    width: 560px;
    height: 314px;
    display: flex;
    gap: 20px;
}

.box img {
    width: 100%;
    height: 100%;
}

.box1 img {
    object-fit: cover;
}

@media (max-width: 768px) {  /* Adjust the max-width value to your needs */
    #contact-image{
        width: 50%; /* Set width to 50% on mobile */
    }
    #img-container img {
        width: 100vw;
        height: auto;
    }
}