<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<body class="nk-body body-wider theme-dark mode-onepage"> 
<div class="nk-wrap">
    <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header"> 
        <!-- Header @s -->
        {{- partial "navbar.html" . -}}
        <!-- Banner @s -->
            <!-- Banner @s -->
            <div class="header-banner bg-theme-dark">
                <div class="nk-banner">
                    <div class="banner banner-page">
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-9">
                                        <div class="banner-caption cpn tc-light text-center">
                                            <div class="cpn-head">
                                                <h2 class="title ttu">{{ .Title }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-banner -->
                <div class="nk-ovm shape-a-sm"></div>
                <div id="particles-bg-1" class="particles-container particles-bg" data-pt-base="#a83232" data-pt-base-op=".7" data-pt-line="#b84545" data-pt-line-op=".7" data-pt-shape="#8b1f1f" data-pt-shape-op=".5"></div>

            </div>
            <!-- .header-banner @e -->
        <!-- .header-banner @e -->
    </header>
    <main class="nk-pages">
        <section class="section section-about bg-dark text-white">
            <div class="container" style="margin-top: -50px">
                <div class="nk-block nk-block-blog">
                    <div class="row">
                        <div class="col-12">
                            <div class="blog-details">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10">
                                        <ul class="blog-meta">
                                            <li><a href="#">{{ .PublishDate.Format "January 2, 2006" }}</a></li>
                                            <li><a href="#">{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }} read</a></li>
                                        </ul>
                                        <div class="news-thumb">
                                            <img class="w-100 pb" src="{{ .Params.Image }}" alt="image" style="margin-bottom: 20px;">
                                        </div>
                                        <div class="blog-content" style="padding: 20px;">
                                            <div style="line-height: 1.6; margin-bottom: 20px;">
                                                {{ .Content }}
                                            </div>
                                        </div>
                                        
                                        <ul class="blog-tags"> 
                                            {{ $taxo := "tags" }}
                                            {{ with .Param $taxo }}
                                            <ul class="tags__list">
                                                {{ range $index, $tag := . }}
                                                {{ with $.Site.GetPage (printf "/%s/%s" $taxo $tag) -}}
                                                <li class="tag__item">
                                                    <a class="tag__link" href="javascript:void(0)">{{ $tag }}</a> 
                                                </li>
                                                {{- end -}}
                                                {{- end -}}
                                            </ul>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .nk-block -->
            </div><!-- .container -->
        </section><!-- .section -->
    </main>
    <!-- Preloader -->
    <div class="preloader preloader-alt no-split">
        <span class="spinner spinner-alt">
            <img class="spinner-brand" src="/images/logo-white.png" alt=""> 
        </span>
    </div>
    <!-- JavaScript -->
    {{- partial "javascript.html" . -}}
    {{- partial "footer.html" . -}}
</div>
</body>
</html>