<section class="section bg-theme-dark-alt tc-light">
    <div class="container">
        <div class="section-head section-head-s9 wide-md">
            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">
                BrowserFence</h6>
            <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".2">{{i18n "brows_title"}}</h2>
            <div class="wide-sm">
                <p class="animated" data-animate="fadeInUp" data-delay=".3">{{i18n "brows_description"}}</p>
            </div>
        </div>
        <!-- Block @s -->
        <div class="nk-block nk-block-text-wrap">
            <div class="row align-items-center gutter-vr-30px">
                <div class="col-lg-6">
                    <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".4">
                        <img src="/images/laptop-a.png" alt="app">
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6">
                    <div class="nk-block-text">
                        <ul class="list list-check list-check-s3">
                            <li class="animated" data-animate="fadeInUp" data-delay=".5"><b>Seamless integration</b>: {{i18n "brows_l1"}}</li>
                            <li class="animated" data-animate="fadeInUp" data-delay=".6"><b>Comprehensive coverage</b>: {{i18n "brows_l2"}}</li>
                            <li class="animated" data-animate="fadeInUp" data-delay=".7"><b>Minimal resource consumption</b>: {{i18n "brows_l3"}}</li>
                            <li class="animated" data-animate="fadeInUp" data-delay=".8"><b>Regular updates</b>: {{i18n "brows_l4"}}</li>
                        </ul>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
        <ul class="pt-4 d-flex gaps g-3 justify-content-center  animated" data-animate="fadeInUp" data-delay=".9">
            <li>
                <a href="#browserFence" class="content-popup btn btn-md btn-grad" data-overlay="bg-theme-grad-alternet"
                   style="position: relative; top: 40px;">{{i18n "brows_btn"}}</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-3 col-sm-6">
        <!-- Start .team-profile  -->
        <div id="browserFence" class="team-popup mfp-hide">
            <a title="Close" class="mfp-close">×</a>
            <div class="row align-items-start">
                <div class="col-md-6">
                    <div class="team-photo">
                        <img src="/images/top-ten.svg" alt="vectors" style="">
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6">
                    <div class="team-popup-info ps-md-3">
                        <h3 class="team-name title title-lg pt-4">BrowserFence</h3>
                        <p>{{i18n "brows_l5"}}</p>
                        <p>{{i18n "brows_l6"}}</p>
                        <p>{{i18n "brows_l7"}}<br>{{i18n "brows_l8"}}</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .team-profile  -->
    </div>
</section>