<section class="section section-contact bg-theme-alt tc-light ov-h" id="contact">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block block-contact">
            <div class="row justify-content-center">
                <!-- Contact Info -->
                <div class="col-lg-12 text-center">
                    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 500px;">
                        <!-- Contact Info -->
                        <div class="section-head section-head-sm section-head-s9 tc-light text-center">
                            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Contact</h6>
                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">{{i18n "contact_title"}}</h2>
                            <p class="animated" data-animate="fadeInUp" data-delay=".3">{{i18n "contact_l1"}}</p>
                        </div>

                        <!-- Calendly Widget -->
                        <div class="calendly-inline-widget" data-url="https://calendly.com/radiousipodcast/teamfence" style="min-width:320px;width:100%;max-width:800px;height:630px;margin-top:20px;"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

                        <!-- Contact Details -->
                        <div class="d-flex justify-content-center align-items-center mt-4 animated" data-animate="fadeInUp" data-delay=".5" style="margin-top: 50px;">
                            <div class="contact-item d-flex align-items-center me-3">
                                <em class="contact-icon fas fa-envelope me-2"></em>
                                <span>info@teamfence.io</span>
                            </div>
                            <div class="contact-item d-flex align-items-center ms-3">
                                <em class="contact-icon fas fa-paper-plane me-2"></em>
                                <span>Follow us on LinkedIn</span>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
