
<section class="section section-contact bg-theme-alt tc-light ov-h" id="contact">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block block-contact">
            <div class="row d-flex justify-content-between align-items-center">
                <!-- Contact Info -->
                <div class="col-lg-4 d-flex flex-column">
                    <div class="section-head section-head-sm section-head-s9 tc-light text-center text-lg-start">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Contact</h6>
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">{{i18n "contact_title"}}</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">{{i18n "contact_l1"}}</p>
                    </div>
                    <ul class="contact-list contact-list-s2">
                        <li class="animated" data-animate="fadeInUp" data-delay=".5">
                            <em class="contact-icon fas fa-envelope"></em>
                            <div class="contact-text">
                                <span>info@teamfence.io</span>
                            </div>
                        </li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".6">
                            <em class="contact-icon fas fa-paper-plane"></em>
                            <div class="contact-text">
                                <span>Follow us on LinkedIn</span>
                            </div>
                        </li>
                    </ul>
                </div><!-- .col -->

                <!-- Calendly Widget -->
                <div class="col-lg-4">
                    <div class="calendly-inline-widget" data-url="https://calendly.com/teamfence/teamfence?hide_event_type_details=1" style="min-width:320px;width:100%;max-width:900px;height:500px;margin-top:20px; padding-right: 20px;"></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                </div><!-- .col -->

                <!-- Contact Image -->
                <div class="col-lg-4 align-self-center">
                    <div class="nk-block-img animated" data-animate="fadeInUp" data-delay="1.3">
                        <img src="/images/contact.png" alt="contact" id="contact-image">
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
