<div class="bg-dark ov-h text-white">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-contact">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="CONTACT">{{i18n "contact"}}</h2>
            </div><!-- .section-head @e -->
            <div class="row justify-content-between align-items-center gutter-vr-50px">
                <div class="col-lg">
                    <div class="nk-block-text">
                        <div class="nk-block-text-head">
                            <p class="animated" data-animate="fadeInUp" data-delay=".2">{{i18n "descr_contact"}}</p>
                        </div>
                        <form id="contact-form" class="contact-form nk-form-submit" action="https://formspree.io/f/mgvwelzz" method="post">                            
                            <div class="field-item field-item-center animated" data-animate="fadeInUp" data-delay=".6">
                                <textarea name="contact-name" type="text" class="input-line required"></textarea>
                                <label class="field-label field-label-line">{{i18n "name"}}</label>
                            </div>
                            <div class="field-item field-item-center animated" data-animate="fadeInUp" data-delay=".6">
                                <textarea name="contact-name" type="email" class="input-line required"></textarea>
                                <label class="field-label field-label-line">{{i18n "email"}}</label>
                            </div>
                            <div class="field-item field-item-center animated" data-animate="fadeInUp" data-delay=".6">
                                <textarea name="contact-message" type="message" class="input-line input-line-center input-textarea required"></textarea>
                                <label class="field-label field-label-line">{{i18n "message"}}</label>
                            </div>

                            <input type="text" class="d-none" name="form-anti-honeypot" value="">
                            <div class="field-wrap animated" data-animate="fadeInUp" data-delay=".9">
                                <button type="submit" class="btn btn-round btn-lg btn-grad">{{i18n "btn_contact"}}</button>
                                <div class="form-results"></div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-5 text-center order-lg-first">
                    <div class="nk-block-contact nk-block-contact-s1">
                        <ul class="contact-list">
                            <li>
                                <em class="contact-icon fas fa-phone"></em>
                                <div class="contact-text">
                                    <span>+41 76 594 72 52</span>
                                </div>
                            </li>
                            <li>
                                <em class="contact-icon fas fa-envelope"></em>
                                <div class="contact-text">
                                    <span>info@crealab.blog</span>
                                </div>
                            </li>
                            <li>
                                <em class="contact-icon fas fa-location-arrow"></em>
                                <div class="contact-text">
                                    <span>Via Pietro Peri 9, 6900 Lugano</span>
                                </div>
                            </li>
                        </ul>
                        <div class="nk-circle-animation nk-df-center accent-alt small"></div><!-- .circle-animation -->
                    </div>
                </div>
            </div>
        </div><!-- .block @e -->
    </div>
    <div id="particles-bg-8" class="particles-container particles-bg" data-pt-base="#a83232" data-pt-base-op=".7" data-pt-line="#b84545" data-pt-line-op=".7" data-pt-shape="#8b1f1f" data-pt-shape-op=".5"></div>

</div>