<section class="section bg-theme-dark tc-light ov-h" id="faqs">
    <div class="container">
        <div class="section-head text-center wide-auto-sm">
            <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">{{i18n "faqs_title"}}</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".2">{{i18n "faqs_intro"}}</p>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block overflow-hidden">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                        <li><a class="active" data-bs-toggle="tab" href="#general-questions-3d">{{i18n "faqs_general"}}</a></li>
                        <li><a data-bs-toggle="tab" href="#design-questions-3d">{{i18n "faqs_design"}}</a></li>
                        <li><a data-bs-toggle="tab" href="#materials-questions-3d">{{i18n "faqs_materials"}}</a></li>
                        <li><a data-bs-toggle="tab" href="#printing-process-3d">{{i18n "faqs_printing"}}</a></li>
                        <li><a data-bs-toggle="tab" href="#post-processing-3d">{{i18n "faqs_post_processing"}}</a></li>
                    </ul>
                    <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="tab-pane fade show active" id="general-questions-3d">
                            <div class="accordion accordion-s1 accordion-faq" id="faq-3d-67">
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title" data-bs-toggle="collapse" data-bs-target="#faq-3d-67-1">{{i18n "faq1_question"}}<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-3d-67-1" class="collapse show" data-bs-parent="#faq-3d-67">
                                        <div class="accordion-content">
                                            <p>{{i18n "faq1_answer"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3d-67-2">{{i18n "faq2_question"}}<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-3d-67-2" class="collapse" data-bs-parent="#faq-3d-67">
                                        <div class="accordion-content">
                                            <p>{{i18n "faq2_answer"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3d-67-3">{{i18n "faq3_question"}}<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-3d-67-3" class="collapse" data-bs-parent="#faq-3d-67">
                                        <div class="accordion-content">
                                            <p>{{i18n "faq3_answer"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3d-67-4">{{i18n "faq4_question"}}<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-3d-67-4" class="collapse" data-bs-parent="#faq-3d-67">
                                        <div class="accordion-content">
                                            <p>{{i18n "faq4_answer"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="design-questions-3d">
                            <div class="accordion accordion-s1 accordion-faq" id="faq-3d-68">
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title" data-bs-toggle="collapse" data-bs-target="#faq-3d-68-1">{{i18n "faq5_question"}}<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-3d-68-1" class="collapse show" data-bs-parent="#faq-3d-68">
                                        <div class="accordion-content">
                                            <p>{{i18n "faq5_answer"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3d-68-2">{{i18n "faq6_question"}}<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-3d-68-2" class="collapse" data-bs-parent="#faq-3d-68">
                                        <div class="accordion-content">
                                            <p>{{i18n "faq6_answer"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Altri FAQ simili -->
                            </div>
                        </div>

                        <!-- Altre categorie di FAQ -->
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
        <div id="particles-bg-9" class="particles-container particles-bg" data-pt-base="#a83232" data-pt-base-op=".7" data-pt-line="#b84545" data-pt-line-op=".7" data-pt-shape="#8b1f1f" data-pt-shape-op=".5"></div>
    </div>
</section>
