<section id="section footer">
    <footer class="nk-footer bg-theme-dark">

        <div class="section section-footer section-m tc-light bg-transparent ov-h">
            <div class="container">
                <div class="nk-block block-footer">
                    <div class="row">
                        <div class="col">
                            <div class="wgs wgs-text text-center mb-3">

                                <a href="./" class="footer-logo">
                                    <img src="/images/logo-white.png" srcset="/images/logo-white.png" alt="logo" style="width: 25%">
                                </a>
                                <div class="copyright-text copyright-text-s3 pdt-m">
                                    <p><span class="d-sm-block">Copyright © 2024, CreaLab <br>Via Pietro Peri 9, 6900 Lugano</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="particles-bg-9" class="particles-container particles-bg" data-pt-base="#a83232" data-pt-base-op=".7" data-pt-line="#b84545" data-pt-line-op=".7" data-pt-shape="#8b1f1f" data-pt-shape-op=".5"></div>

        </div>
    </footer>
</section>
