<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- Site Title  -->
    <title>TeamFence</title>
    <!-- Bundle and Base CSS -->
    {{ $version := "?ver=210"}}
    {{ $css1 := resources.Get "/css/vendor.bundle.css" | minify }}
    {{ $css2 := resources.Get "/css/style-lungwort.css" | minify }}
    {{ $css3 := resources.Get "/css/theme.css" | minify }}
    {{ $css4 := resources.Get "/css/custom.css" | minify }}
    <link rel="stylesheet" href='{{ printf "%s" $version |printf "%s%s" $css1.RelPermalink | printf "%s"  }}'>
    <link rel="stylesheet" href='{{ printf "%s" $version |printf "%s%s" $css2.RelPermalink | printf "%s"  }}'>
    <!-- Extra CSS -->
    <link rel="stylesheet" href='{{ printf "%s" $version |printf "%s%s" $css3.RelPermalink | printf "%s"  }}'>
    <link rel="stylesheet" href='{{ printf "%s" $version |printf "%s%s" $css4.RelPermalink | printf "%s"  }}'>
</head>
