<section class="section section-problem bg-white" id="problem">
    <div class="container">
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto-sm">
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Problem and Challenges</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".2">Navigate the complex landscape of cybersecurity
                challenges with our tailored solutions designed to address three key obstacles</p>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-problems tc-light">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6">
                    <div class="feature boxed boxed-lg bg-theme no-mg split-lg-left split-left animated"
                         data-animate="fadeInUp" data-delay=".3">
                        <h4 class="title title-md">Cyberattacks are increasing</h4>
                        <p>Cyber assaults against various enterprises, with a particular emphasis on small to mid-sized
                            enterprises, are on the rise, growing in frequency, targeting specificity, and complexity.
                            The 43% of cyber assaults are directed at smaller enterprises, yet only 14% are adequately
                            equipped to safeguard against such threats.</p>
                        <p>The most common types of attacks on small businesses include:</p>
                        <ul class="list list-dot">
                            <li>Phishing/Social Engineering: <b>57%</b></li>
                            <li>Credential Theft: <b>33%</b></li>
                            <li>Compromised/Stolen Devices: <b>30%</b></li>
                        </ul>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6">
                    <div class="feature-group bg-theme-alt split-right split-lg animated" data-animate="fadeInUp"
                         data-delay=".4">
                        <div class="feature boxed bg-white-10">
                            <div class="feature-text">
                                <h4 class="title title-md">Sophisticated Cyber Threats</h4>
                                <p>The digital landscape is rife with sophisticated cyber threats like phishing attacks,
                                    malware infections, and website impersonation techniques. These threats are
                                    constantly evolving, causing significant financial and reputational damage to
                                    individuals and businesses alike.</p>
                            </div>
                        </div>
                        <div class="feature boxed bg-white-2">
                            <div class="feature-text">
                                <h4 class="title title-md">Human Element Vulnerability</h4>
                                <p>Despite technological advancements, cybercriminals often exploit the human element as
                                    the weakest link in cybersecurity defenses. Employees may inadvertently fall victim
                                    to phishing scams or other social engineering tactics, highlighting the need for
                                    comprehensive training and awareness programs.</p>
                            </div>
                        </div>
                        <div class="feature boxed bg-black-10">
                            <div class="feature-text">
                                <h4 class="title title-md">Compliance with Regulations</h4>
                                <p> With the introduction of new regulations such as those under the nLPD, businesses
                                    face the challenge of staying compliant while protecting their assets from cyber
                                    threats.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
<!-- // -->
<section class="section section-solution bg-white pt-0" id="solution">
    <div class="container">
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto-sm">
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Solutions</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".2">Empower your online security against evolving
                cyber threats with our solutions:</p>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-features-s3">
            <div class="row gutter-vr-40px justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-lg">
                            <em class="icon icon-lg ikon ikon-cloud"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark">Global Single-Platform:</h4>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                nisi ut aliquid eos qui ratione</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6 col-md-10">
                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="feature-icon feature-icon-lg">
                            <em class="icon icon-lg ikon ikon-safety"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark">Be Safe and Secure:</h4>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia agni
                                dolores eos qui ratione voluptatem sequi</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6 col-md-10">
                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="feature-icon feature-icon-lg">
                            <em class="icon icon-lg ikon ikon-cash"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark">Decentralize Payment Systems</h4>
                            <p>Empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                ullamco laboris fugiat nulla sed do</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6 col-md-10">
                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="feature-icon feature-icon-lg">
                            <em class="icon icon-lg ikon ikon-globe"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark">Blockchain Based DevOps Marketplace</h4>
                            <p>Ut enim ad minim veniam, quis nostrud ullamco laboris fugiat nulla sed do eiusmod. Empor
                                incididunt ut labore et dolore magna</p>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
<!-- // -->