<section class="section bg-white" id="roadmap">
    <div class="container">
        <!-- Section Head @s -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-head section-head-s7 text-center wide-auto-sm">
                    <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay=".1">Roadmap</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".2">Our roadmap is a planned where we take on the most complex problems and turn them into great solutions</p>
                </div><!-- .section-head @e -->
            </div><!-- .col -->
        </div><!-- .row -->
        <!-- Block @s -->
        <div class="nk-block">
            <div class="row justify-content-center text-center">
                <div class="col-xl-12">
                    <div class="roadmap-carousel-container animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="has-carousel roadmap-carousel owl-carousel" data-items="5" data-items-mobile-s="1" data-margin="15" data-dots="true">
                            <div class="roadmap roadmap-done roadmap-s3">
                                <div class="roadmap-step roadmap-step-s3">
                                    <div class="roadmap-head roadmap-head-s3">
                                        <span class="roadmap-time roadmap-time-s3">March 2022</span>
                                    </div>
                                    <p>Start of the ICO Crypto Platform Development</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-done roadmap-s3">
                                <div class="roadmap-step roadmap-step-s3">
                                    <div class="roadmap-head roadmap-head-s3">
                                        <span class="roadmap-time roadmap-time-s3">April 2022</span>
                                    </div>
                                    <p>Start of the Preparation for the ICO Token Sale</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-running roadmap-s3">
                                <div class="roadmap-step roadmap-step-s3">
                                    <div class="roadmap-head roadmap-head-s3">
                                        <span class="roadmap-time roadmap-time-s3">October 2022</span>
                                    </div>
                                    <p>ICO Platform Launched with full solutions</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-s3">
                                <div class="roadmap-step roadmap-step-s3">
                                    <div class="roadmap-head roadmap-head-s3">
                                        <span class="roadmap-time roadmap-time-s3">January 2022</span>
                                    </div>
                                    <p>Partnership for the future EcoSystem</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-s3">
                                <div class="roadmap-step roadmap-step-s3">
                                    <div class="roadmap-head roadmap-head-s3">
                                        <span class="roadmap-time roadmap-time-s3">June 2022</span>
                                    </div>
                                    <p>ICO Wallet full version release</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-s3">
                                <div class="roadmap-step roadmap-step-s3">
                                    <div class="roadmap-head roadmap-head-s3">
                                        <span class="roadmap-time roadmap-time-s3">December 2022</span>
                                    </div>
                                    <p>The firest product ready to goes live to all business</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-s3">
                                <div class="roadmap-step roadmap-step-s3">
                                    <div class="roadmap-head roadmap-head-s3">
                                        <span class="roadmap-time roadmap-time-s3">MarchQ2 2022</span>
                                    </div>
                                    <p>Start of the ICO Crypto Platform Development.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-s3">
                                <div class="roadmap-step roadmap-step-s3">
                                    <div class="roadmap-head roadmap-head-s3">
                                        <span class="roadmap-time roadmap-time-s3">April 2022</span>
                                    </div>
                                    <p>Start of the Preparation for the ICO Token Sale</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>
