<section class="bg-theme-dark tc-light ov-h" id="services">
    <div class="container">
        <div class="pt-6 section-head text-center wide-auto-sm">
            <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="SERVICES">{{i18n "services_title"}}</h2>
        </div>
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block">
            <div class="row gutter-vr-30px justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <a href="/services/designing">
                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="feature-icon feature-icon-lg my-0">
                            <img src="/images/3d.png" alt="feature">
                        </div>
                        <div class="feature-text feature-text-s8">
                            <h4 class="title title-sm title-thin title-s5"><span>{{i18n "services_designing_title"}}</span></h4>
                            <p>{{i18n "services_designing_description"}}</p>
                            <a href="/services/designing" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                        </div>
                    </div>
                    </a>
                </div><!-- .col -->
                <div class="col-lg-4 col-md-4">
                    <a href="/services/printing">
                        <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="feature-icon feature-icon-lg my-0">
                                <img src="/images/3d-printing.png" alt="feature">
                            </div>
                            <div class="feature-text feature-text-s8">
                                <h4 class="title title-sm title-thin title-s5"><span>{{i18n "services_printing_title"}}</span></h4>
                                <p>{{i18n "services_printing_description"}}</p>
                                <a href="/services/printing" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                            </div>
                        </div>
                    </a>
                </div><!-- .col -->
                <div class="col-lg-4 col-md-4">
                    <a href="/services/scanning">
                    <div class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="feature-icon feature-icon-lg my-0">
                            <img src="/images/picture.png" alt="feature">
                        </div>
                        <div class="feature-text feature-text-s8">
                            <h4 class="title title-sm title-thin title-s5"><span>{{i18n "services_scanning_title"}}</span></h4>
                            <p>{{i18n "services_scanning_description"}}</p>
                            <a href="/services/scanning" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                        </div>
                    </div>
                    </a>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
        <div id="particles-bg-4" class="particles-container particles-bg" 
        data-pt-base="#a83232" data-pt-base-op=".7" 
        data-pt-line="#b84545" data-pt-line-op=".7" 
        data-pt-shape="#8b1f1f" data-pt-shape-op=".5"></div>    </div>
</section>
