<section class="section bg-white" id="team">
    <div class="container">
        <div class="section-head section-head-s7 text-center wide-auto-sm">
            <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay=".1">Team</h2>
        </div>
        <!-- Block @s -->
        <div class="nk-block nk-block-team-list">
            <div class="section-head section-head-sm section-head-s7 text-center wide-auto-sm">
                <h2 class="title-md title-thin animated" data-animate="fadeInUp" data-delay=".2">Core Team Member</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="team-photo team-photo-s2">
                            <a href="#team-popup-1" class="team-show content-popup" data-overlay="bg-theme-grad-alternet"></a>
                            <img src="/images/team/md-a-color.jpg" alt="team">
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Louis Baker</h5>
                        <span class="team-position">CEO &amp; Lead Blockchain</span>
                    </div><!-- Start .team-profile  -->
                    <div id="team-popup-1" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="/images/team/a-color.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                    <p class="team-position mb-1">CEO &amp; Lead Blockchain </p>
                                    <ul class="team-social team-social-s2 mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    <div class="progress-list">
                                        <div class="progress-wrap">
                                            <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-theme-accent-alt" data-percent="85"></div>
                                            </div>
                                        </div>
                                        <div class="progress-wrap">
                                            <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-theme-accent-alt" data-percent="68"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
                <div class="col-lg-3 col-sm-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="team-photo team-photo-s2">
                            <a href="#team-popup-2" class="team-show content-popup"></a>
                            <img src="/images/team/md-b-color.jpg" alt="team">
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Jonathan Rios</h5>
                        <span class="team-position">CTO &amp; Software Engineer</span>
                    </div><!-- Start .team-profile  -->
                    <div id="team-popup-2" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="/images/team/b-color.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                    <p class="team-position mb-1">CEO &amp; Lead Blockchain </p>
                                    <ul class="team-social team-social-s2 mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    <div class="progress-list">
                                        <div class="progress-wrap">
                                            <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="85"></div>
                                            </div>
                                        </div>
                                        <div class="progress-wrap">
                                            <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="68"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
                <div class="col-lg-3 col-sm-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="team-photo team-photo-s2">
                            <a href="#team-popup-3" class="team-show content-popup"></a>
                            <img src="/images/team/md-c-color.jpg" alt="team">
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Jason Morales</h5>
                        <span class="team-position">Sr.Backend developer</span>
                    </div><!-- Start .team-profile  -->
                    <div id="team-popup-3" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="/images/team/c-color.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                    <p class="team-position mb-1">CEO &amp; Lead Blockchain </p>
                                    <ul class="team-social team-social-s2 mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    <div class="progress-list">
                                        <div class="progress-wrap">
                                            <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="85"></div>
                                            </div>
                                        </div>
                                        <div class="progress-wrap">
                                            <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="68"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
                <div class="col-lg-3 col-sm-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="team-photo team-photo-s2">
                            <a href="#team-popup-4" class="team-show content-popup"></a>
                            <img src="/images/team/md-d-color.jpg" alt="team">
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Joseph Jordan</h5>
                        <span class="team-position">Software Engineer</span>
                    </div><!-- Start .team-profile  -->
                    <div id="team-popup-4" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="/images/team/d-color.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                    <p class="team-position mb-1">CEO &amp; Lead Blockchain </p>
                                    <ul class="team-social team-social-s2 mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    <div class="progress-list">
                                        <div class="progress-wrap">
                                            <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="85"></div>
                                            </div>
                                        </div>
                                        <div class="progress-wrap">
                                            <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="68"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- Block @e -->
        <div class="nk-block nk-block-team-list">
            <div class="section-head section-head-sm section-head-s7 text-center wide-auto-sm">
                <h2 class="title-md title-thin animated" data-animate="fadeInUp" data-delay=".7">Board Advisor</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".8">
                        <div class="team-photo team-photo-s2">
                            <a href="#team-popup-5" class="team-show content-popup" data-overlay="bg-theme-grad-alternet"></a>
                            <img src="/images/team/md-e-color.jpg" alt="team">
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Jonathan Rios</h5>
                        <span class="team-position">CTO &amp; Software Engineer</span>
                    </div><!-- Start .team-profile  -->
                    <div id="team-popup-5" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="/images/team/e-color.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                    <p class="team-position mb-1">CEO &amp; Lead Blockchain </p>
                                    <ul class="team-social team-social-s2 mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    <div class="progress-list">
                                        <div class="progress-wrap">
                                            <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="85"></div>
                                            </div>
                                        </div>
                                        <div class="progress-wrap">
                                            <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="68"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
                <div class="col-lg-3 col-sm-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".9">
                        <div class="team-photo team-photo-s2">
                            <a href="#team-popup-6" class="team-show content-popup" data-overlay="bg-theme-grad-alternet"></a>
                            <img src="/images/team/md-f-color.jpg" alt="team">
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Jason Morales</h5>
                        <span class="team-position">Sr.Backend developer</span>
                    </div><!-- Start .team-profile  -->
                    <div id="team-popup-6" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="/images/team/f-color.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                    <p class="team-position mb-1">CEO &amp; Lead Blockchain </p>
                                    <ul class="team-social team-social-s2 mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    <div class="progress-list">
                                        <div class="progress-wrap">
                                            <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="85"></div>
                                            </div>
                                        </div>
                                        <div class="progress-wrap">
                                            <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="68"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
                <div class="col-lg-3 col-sm-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay="1">
                        <div class="team-photo team-photo-s2">
                            <a href="#team-popup-7" class="team-show content-popup" data-overlay="bg-theme-grad-alternet"></a>
                            <img src="/images/team/md-g-color.jpg" alt="team">
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Joseph Jordan</h5>
                        <span class="team-position">Software Engineer</span>
                    </div><!-- Start .team-profile  -->
                    <div id="team-popup-7" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="/images/team/g-color.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                    <p class="team-position mb-1">CEO &amp; Lead Blockchain </p>
                                    <ul class="team-social team-social-s2 mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    <div class="progress-list">
                                        <div class="progress-wrap">
                                            <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="85"></div>
                                            </div>
                                        </div>
                                        <div class="progress-wrap">
                                            <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="68"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- Block @e -->
    </div>
</section>
