<section class="section bg-theme-dark tc-light ov-h" id="quote">
    <div class="section-head text-center wide-auto-sm">
        <h2 class="title title-s4 animated fadeInUp" data-delay=".1">THANKS FOR CONTACTING US!</h2>
    </div>
    <div class="container">
        <!-- Form for Upload -->
        <div class="nk-block nk-block-text-wrap">
            <div class="row align-items-center justify-content-center gutter-vr-30px">
                <div class="col-md-8">
                    <div class="nk-block-text text-center">
                        <p class="lead">We have received your message.</p>
                        <p class="lead">We'll reach you immediately!</p>
                        <div id="quote-result" style="margin-top:20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Particles Background -->
    <div id="particles-bg-5" class="particles-container particles-bg" 
        data-pt-base="#a83232" data-pt-base-op="0.7" 
        data-pt-line="#b84545" data-pt-line-op="0.7" 
        data-pt-shape="#8b1f1f" data-pt-shape-op="0.5">
    </div>
</section>
