<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
    {{- partial "navbar.html" . -}}
    <!-- Banner @s -->
    <div class="header-banner bg-theme-grad-s2">
        <div class="nk-banner">
            <div class="banner banner-page">
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <!-- .header-banner @e -->
</header>
<body class="nk-body body-wider theme-dark mode-onepage">
<div class="nk-wrap">
    <main class="nk-pages">

        <section class="section bg-light section-about">
            <div class="container">
                <!-- Block @s -->
                <div class="nk-block">
                    <div class="row gutter-vr-30px align-items-center">
                        <div class="col-lg-6">
                            <div class="nk-block-text">
                                <h2 class="title">Application Security</h2>
                                <p>AT TeamFence we specialize in delivering actionable insights through comprehensive Penetration Testing. We focus on simulating a wide range of cyber-attacks to evaluate the security level of your network or IT system. Our goal is to provide you with clear and understandable results that highlight your system's vulnerabilities and strengths, enabling you to make informed decisions to fortify your digital assets effectively.</p>
                                <p>We follow industry standards such as OSSTMM and OWASP to conduct Penetration Tests that offer a comprehensive view of your system's security posture. Our specialists are committed to working collaboratively with you throughout the process. Unlike black-box approaches, we prioritize collaboration with our clients, ensuring that this collaboration optimize the time-consuming activities and the final cost of the activity.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="nk-block-video">
                                <img src="/images/security.png" alt="icon" style="width: 85%">
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                <div class="hr"></div>
                <!-- Block @s -->
                <div class="nk-block nk-block-about">
                    <div class="row gutter-vr-30px align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <div class="nk-block-text">
                                <h2 class="title title-lg">Web Application Penetration Test (WAPT)</h2>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="nk-block-text">
                                <p>A Web Application Penetration Test is a simulated attack conducted by our security researchers to identify vulnerabilities in your web application. Our goal is to uncover weaknesses that could jeopardize the Confidentiality, Integrity, and Availability of the information handled by the relevant portals. Through this adversary simulation, we provide actionable insights to enhance your application's security posture and protect your critical data assets.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
            </div>
        </section>
        <!-- // -->
    </main>
    <!-- Preloader -->
    <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand"
                                                                                         src="/images/logo-white.png"
                                                                                         alt=""></span></div>

    {{- partial "contact-us.html" . -}}
    <!-- JavaScript -->
    {{- partial "javascript.html" . -}}
    {{- partial "footer.html" . -}}
</div>
</body>
</html>
