<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
    {{- partial "navbar.html" . -}}
    <!-- Banner @s -->
    <div class="header-banner bg-theme-grad-s2">
        <div class="nk-banner">
            <div class="banner banner-page">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-9">
                                <div class="banner-caption cpn tc-light text-center">
                                    <div class="cpn-head">
                                        <h2 class="title ttu">Our Services</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <!-- .header-banner @e -->
</header>
<body class="nk-body body-wider theme-dark mode-onepage">
<div class="nk-wrap">
    <main class="nk-pages">

        <section class="section bg-light section-about">
            <div class="container">
                <!-- Block @s -->
                <div class="nk-block">
                    <div class="row gutter-vr-30px align-items-center">
                        <div class="col-lg-6">
                            <div class="nk-block-text">
                                <h2 class="title">Application Security</h2>
                                <p>The objective of our penetration tests is to assist the organization in understanding the full impact of a potential breach and evaluate how effective security controls work to protect the most critical assets. Our team of experts will work with you to design an engagement that will achieve the greatest impact on assessing your risk visibility into your environment. Our experience enables us to execute a methodology while also assuring testing is cost-effective and timely.</p>
                                <p>The difference in our penetration testing approach is that we focus on impact objective driven testing. Whether we are attempting to access sensitive information, breach security boundaries, or access management systems, you can be sure that our time is efficiently spent on comprehensively testing your organization's capability to protect critical assets.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="nk-block-video">
                                <img src="/images/security.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                <div class="hr"></div>
                <!-- Block @s -->
                <div class="nk-block nk-block-about">
                    <div class="row gutter-vr-30px align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <div class="nk-block-text">
                                <h2 class="title title-lg">Our Mission</h2>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="nk-block-text">
                                <p class="lead">Our Mission is to create next generation ICO Landing Page template. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo. Tempor incididunt uteop labore et dolore magna aliqua nostrud exercit.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
            </div>
        </section>
        <!-- // -->
    </main>
    <!-- Preloader -->
    <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand"
                                                                                         src="/images/logo-white.png"
                                                                                         alt=""></span></div>

    {{- partial "contact-us.html" . -}}
    <!-- JavaScript -->
    {{- partial "javascript.html" . -}}
    {{- partial "footer.html" . -}}
</div>
</body>
</html>
