<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
    {{- partial "navbar.html" . -}}
    <!-- Banner @s -->
    <div class="header-banner bg-theme-grad-s2">
        <div class="nk-banner">
            <div class="banner banner-page">
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <!-- .header-banner @e -->
</header>
<body class="nk-body body-wider theme-dark mode-onepage">
<div class="nk-wrap">
    <main class="nk-pages">

        <section class="section bg-light section-about">
            <div class="container">
                <!-- Block @s -->
                <div class="nk-block">
                    <div class="row gutter-vr-30px align-items-center">
                        <div class="col-lg-6">
                            <div class="nk-block-text">
                                <h2 class="title">Network Security</h2>
                                <p>At TeamFence, we specialize in providing actionable insights through Network Assessment services. Our approach involves simulating a diverse range of cyber-attacks to assess the security of your network or IT system comprehensively. Our ultimate goal is to furnish you with clear and digestible results that spotlight both the vulnerabilities and strengths of your system, empowering you to make informed decisions to bolster your digital assets effectively.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="nk-block-video">
                                <img src="/images/network.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                <div class="hr"></div>
                <!-- Block @s -->
                <div class="nk-block nk-block-about">
                    <div class="row gutter-vr-30px align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <div class="nk-block-text">
                                <h2 class="title title-lg">External Network Penetration Test (eNPT)</h2>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="nk-block-text">
                                <p>An External Network Penetration Test (eNPT) is a specialized assessment conducted from outside the company's network, simulating the actions of an external malicious actor. This test, focuses on evaluating the security of your external-facing systems and infrastructure, such as web servers, applications, and network perimeter devices.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                <div class="nk-block nk-block-about">
                    <div class="row gutter-vr-30px align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <div class="nk-block-text">
                                <h2 class="title title-lg">Internal Network Penetration Test (iNPT)</h2>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="nk-block-text">
                                <p>An Internal Network Penetration Test (iNPT) is a specialized assessment conducted from within the company's network, emulating the actions of an internal malicious actor, such as a consultant or an employee. This test, provides insights into how vulnerable your network may be to insider threats or unauthorized access from within the organization.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
                <div class="nk-block nk-block-about">
                    <div class="row gutter-vr-30px align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <div class="nk-block-text">
                                <h2 class="title title-lg">Active Directory Assessment (ADA)</h2>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="nk-block-text">
                                <p>During an Active Directory Assessment, our team thoroughly examines your Active Directory configuration, policies, permissions, group memberships, trust relationships, and overall security posture. We utilize industry best practices and specialized tools to identify potential misconfigurations, vulnerabilities, and security weaknesses.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block @e -->
            </div>
        </section>
        <!-- // -->
    </main>
    <!-- Preloader -->
    <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand"
                                                                                         src="/images/logo-white.png"
                                                                                         alt=""></span></div>

    {{- partial "contact-us.html" . -}}
    <!-- JavaScript -->
    {{- partial "javascript.html" . -}}
    {{- partial "footer.html" . -}}
</div>
</body>
</html>
