<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<body class="nk-body body-wider theme-dark mode-onepage">
<div class="nk-wrap">
    <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
        <!-- Header @s -->
        {{- partial "navbar.html" . -}}
        <!-- Banner @s -->
        <div class="header-banner bg-theme-grad">
            <div class="nk-banner">
                <div class="banner banner-page">
                    <div class="banner-wrap">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-9">
                                    <div class="banner-caption cpn tc-light text-center">
                                        <div class="cpn-head">
                                            <h2 class="title ttu">TeamFence Blog</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-banner -->
            <div class="nk-ovm shape-a-sm"></div>
        </div>
        <!-- .header-banner @e -->
    </header>
</div>
<main class="nk-pages">
    <section class="section bg-white">
        <div class="container">
            <div class="nk-block nk-block-blog">
                <div class="row">
                    <div class="col-12">
                        <div class="blog-details">
                            <div class="row justify-content-center">
                                <div class="col-xl-10 col-lg-12">
                                    <div class="blog-featured">
                                        <div class="img-wrapper-single">
                                            <img class="round " src="{{ .Params.Image }}" alt="featured">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-10">
                                    <ul class="blog-meta">
                                        <li><a href="#">{{ .PublishDate.Format "January 2, 2006" }}</a></li>
                                        {{ with .Params.tags }}
                                        {{ i18n "Tag" }}
                                        {{ range . }}
                                        <li><a href="#">{{.}}</a></li>
                                        {{ end }}
                                        {{ end }}
                                    </ul>
                                    <div class="blog-content">
                                        <h2 class="title"><a href="#">{{ .Title}}</a></h2>
                                        {{ .Content }}
                                    </div>
                                    <ul class="blog-tags">
                                        {{ with .Params.tags }}
                                        {{ i18n "Tag" }}
                                        {{ range . }}
                                        <li><a href="#">{{.}}</a></li>
                                        {{ end }}
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->
        </div><!-- .container -->
    </section><!-- .section -->
</main>
<!-- Footer -->
{{- partial "javascript.html" . -}}
{{- partial "footer.html" . -}}
</body>
</html>