<!DOCTYPE html>
<html lang="zxx" class="js">
{{- partial "head.html" . -}}
<body class="nk-body body-wider theme-dark mode-onepage">
<div class="nk-wrap">
    <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
        <!-- Header @s -->
        {{- partial "navbar.html" . -}}
        <!-- Banner @s -->
        <div class="header-banner bg-theme-grad">
            <div class="nk-ovm shape-a-sm"></div>
        </div>
        <!-- .header-banner @e -->
    </header>
    <main class="nk-pages">
        <section class="section bg-white">
            <div class="container" style="margin-top: -50px">
                <div class="nk-block nk-block-blog">
                    <div class="row">
                        <div class="col-12">
                            <div class="blog-details">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10">
                                        <ul class="blog-meta">
                                            <li><a href="#">{{ .PublishDate.Format "January 2, 2006" }}</a></li>
                                            <li><a href="#">{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else
                                                }} minutes {{ end }} read</a></li>
                                        </ul>
                                        <div class="blog-content">
                                            <h2 class="title"><a href="#">{{ .Title }}</a></h2>
                                            <div class="col-xl-10 col-lg-12">
                                                <div class="blog-featured">
                                                    <div class="img-wrapper-single">
                                                        <div class="box box1">
                                                            <img class="round " src="{{ .Params.Image }}"
                                                                 alt="featured">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ .Content }}
                                        </div>
                                        <ul class="blog-tags">
                                            {{ $taxo := "tags" }}
                                            {{ with .Param $taxo }}
                                            <ul class="tags__list">
                                                {{ range $index, $tag := . }}
                                                {{ with $.Site.GetPage (printf "/%s/%s" $taxo $tag) -}}
                                                <li class="tag__item">
                                                    <a class="tag__link" href="javascript:void(0)">{{ $tag }}</a>
                                                </li>
                                                {{- end -}}
                                                {{- end -}}
                                            </ul>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .nk-block -->
            </div><!-- .container -->
        </section><!-- .section -->
    </main>
    <!-- Preloader -->
    <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand"
                                                                                         src="/images/logo-white.png"
                                                                                         alt=""></span></div>
    <!-- JavaScript -->
    {{- partial "javascript.html" . -}}
    {{- partial "footer.html" . -}}
</div>
</body>
</html>